#qnid {
	width: 4em;
	background: #fff;
}

.quicknavi {
	min-width: 310px;
	max-height: 400px;
	max-width: 360px;
	overflow-x: hidden;
	overflow-y: auto;
}
.quicknavi li a {
	width: 300px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
