#qnid {
	width: 4em;
	background: #fff;
}

#qsearch {
	margin-bottom: 10px;
	margin-right: 2%;
	margin-left: 2%;
	width: 96%;
}

.quicknavi {
	min-width: 310px;
	max-height: 400px;
	max-width: 360px;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling:touch;  
}

.quicknavi li a {
	width: 300px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-top: 6px;
	padding-bottom: 10px;
}

.quicknavi.quickfiles li small {
	display: block;
}

.quicknavi li small.rex-primary-id {
	display: inline;
}

.quickmedia {
	margin-left: 1em;
}

.quicknavi .malert {
	color: #000;
	padding: 5px;
	display: block;
}
