
#qsearch {
	margin-bottom: 0px;
	margin-right: 2%;
	margin-left: 2%;
	max-width: 310px;
	width: 96%;
}


.quicknavi-btn-group.transparent button { 
    background-color: transparent; 
    border: 0;
}

.quicknavi-btn-group.linkmapbt button {
border-radius: 0;
height: 38px;
border-left: 0;
border-color: #dedede;
}


li.quickitem {
	list-style-type: none;
	padding-top: 0.4em;
	padding-bottom: 0.4em;
}

li.quickitem.bg-primary a {
	color: #FFF;
}

.quicknavi ul,
.quickfiles {
	min-width: 330px;
	max-height: 400px;
	max-width: 360px;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	padding: 10px;
	padding-top: 10px;
	margin-bottom: 10px;
}

.quicknavi .dropdown-header {
	padding: 0;
	margin-bottom: 0.5em;
}

.quicknavi li a {
	width: 300px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 10px;
	padding-right: 10px;
	text-decoration: none;
	display: block;line-height: 1em;
}
.quicknavi li .quicknavi_left {
	width: 88%;
	display: block;
	float: left;
}
.quicknavi li .quicknavi_right {
	width: 12%;
	display: block;
	float: left;
	padding-top: 8px;
}
.quickfiles.quicknavi li a {
    padding-top: 10px;
	padding-bottom: 10px;
    color:#4b9ad9;
}

.quickfiles.quicknavi li a small {padding-top: 4px; color: #333;}

.quickfiles.quicknavi li a.qn_status_1 {
    color:#4b9ad9;
    border-left: 3px solid #3bb594; 
    padding-bottom: 10px;
}

.quickfiles.quicknavi li a.qn_status_0 {
    opacity: 0.6;
    border-left: 3px solid #ccc;
}

.quickfiles.quicknavi li .quicknavi_right a.qn_status_1, .quickfiles.quicknavi li .quicknavi_right a.qn_status_0 { border: 0;}

.quicknavi.quickfiles li small {
	display: block;
}

.quicknavi li small.rex-primary-id {
	display: inline;
}

.quickmedia {
	margin-left: 1em;
}

.quicknavi .malert {
	color: #000;
	padding: 5px;
	display: block;
}
/* hide default Watson-Button */

li .watson-btn {
	display: none!important;
}
/* Format Watson-Button */

.quicknavi-btn-group .watson-btn {
	margin-right: 0;
}
.quicknavi_left {
	width: 88%;
	display: inline-block;
}
.dropdown-menu > .quicknavi_left > a {
	width: 100%;
}

.quicknavi_right {
	width: 12%;
	display: inline-block;
}
.dropdown-menu > .quicknavi_right > a {
	width: 100%;
	text-align: center;	
}
.sked_border {
	border-left: 5px solid;
}

